textarea {
    min-height: 400px;
}

.s-mail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5px;
  border: 0.5px solid blue;
  /*background-color: grey;*/
  margin: 5px 0 5px 0;
}

.s-mail:hover{
  cursor: pointer;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

.button-group{
  display: flex;
  flex-flow: row wrap;
  align-self: left;
  margin-top: 8px;
}

.btn-helper{
  margin-right: 10px;
}