{% extends "encyclopedia/layout.html" %}

{% block title %}
    Delete Entry
{% endblock %}

{% block body %}
	<div class="errorMessage">{{error_message}}</div>
	<h4>Current Entries:</h4>
	<ul>
		{% for entry in entries %}
			<li> {{entry}}</li>			
		{% endfor %}
	</ul>
		
    <form action="{% url 'delete_page' %}" method="POST">
    	{% csrf_token %}
        <input type="text" name ="title" placeholder="Enter text">
        <input type="hidden" name = "display_buttons" value="F">
        <input type="submit" value = "Delete">
    </form>
    
    {% if display_buttons %}
    	<h5>Delete {{title}}?</h5><br>
    <form action="{% url 'delete_page' %}" method="POST">
    	{% csrf_token %}
    	<input type="hidden" name ="title" value="{{title}}">
    	<input type="hidden" name = "display_buttons" value="T">
        <input type="submit" name = "del" value = "Yes">
        <input type="submit" name = "del" value = "No">
    </form>
    {% endif %}
    {{md | safe}}
{% endblock %}